**imoporting libraries

In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
lnk = 'http://api.huobi.pro/market/history/kline?period=1min&size=150&symbol=btcusdt'
req = requests.get(lnk).json()['data']
df = pd.DataFrame(req)
df

,id,open,close,low,high,amount,vol,count
0,1613846100,57042.95,57089.02,57042.95,57091.35,20.320837,1.159437e+06,390
1,1613846040,57033.30,57042.95,56992.11,57042.95,5.799826,3.307040e+05,346
2,1613845980,57040.12,57035.78,57030.69,57071.88,5.799138,3.308349e+05,358
3,1613845920,57010.09,57044.15,56989.37,57045.62,7.192174,4.101253e+05,374
4,1613845860,56949.16,57010.09,56949.11,57019.40,4.700252,2.678642e+05,356
...,...,...,...,...,...,...,...,...
145,1613837400,56393.90,56384.56,56338.19,56393.90,25.314434,1.426718e+06,1233
146,1613837340,56350.58,56393.90,56335.01,56425.03,25.300523,1.426339e+06,1343
147,1613837280,56335.01,56350.77,56317.77,56380.00,23.026804,1.297398e+06,1282
148,1613837220,56349.38,56335.02,56334.88,56409.90,15.870976,8.946087e+05,1129
149,1613837160,56390.87,56349.38,56337.98,56393.88,14.033476,7.908449e+05,1107

In [9]:
sf = df.sort_values(by=['id'])
sf.reset_index(drop=True)

,id,open,close,low,high,amount,vol,count
0,1613837160,56390.87,56349.38,56337.98,56393.88,14.033476,7.908449e+05,1107
1,1613837220,56349.38,56335.02,56334.88,56409.90,15.870976,8.946087e+05,1129
2,1613837280,56335.01,56350.77,56317.77,56380.00,23.026804,1.297398e+06,1282
3,1613837340,56350.58,56393.90,56335.01,56425.03,25.300523,1.426339e+06,1343
4,1613837400,56393.90,56384.56,56338.19,56393.90,25.314434,1.426718e+06,1233
...,...,...,...,...,...,...,...,...
145,1613845860,56949.16,57010.09,56949.11,57019.40,4.700252,2.678642e+05,356
146,1613845920,57010.09,57044.15,56989.37,57045.62,7.192174,4.101253e+05,374
147,1613845980,57040.12,57035.78,57030.69,57071.88,5.799138,3.308349e+05,358
148,1613846040,57033.30,57042.95,56992.11,57042.95,5.799826,3.307040e+05,346
149,1613846100,57042.95,57089.02,57042.95,57091.35,20.320837,1.159437e+06,390

In [11]:
sf['close'].tail(1)

0    57089.02
Name: close, dtype: float64

In [8]:
df['pandas_SMA_4'] = df.iloc[:,2].rolling(window=7).mean()
list(df['pandas_SMA_4'])

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 57191.96142857143,
 57215.184285714284,
 57235.11142857142,
 57268.98857142856,
 57284.384285714266,
 57307.06142857142,
 57328.86428571428,
 57337.74428571428,
 57346.06,
 57371.87142857142,
 57384.12285714286,
 57387.29714285714,
 57391.10285714285,
 57402.428571428565,
 57409.13571428571,
 57404.47857142856,
 57379.429999999986,
 57354.842857142845,
 57347.11999999999,
 57331.95571428571,
 57304.715714285696,
 57288.547142857125,
 57277.452857142845,
 57257.78857142856,
 57253.838571428554,
 57233.97142857141,
 57226.634285714266,
 57202.49142857142,
 57167.42714285713,
 57136.291428571414,
 57108.82428571427,
 57082.73142857142,
 57071.10285714285,
 57042.53857142856,
 57040.882857142846,
 57053.697142857134,
 57069.041428571414,
 57094.31999999999,
 57099.25285714284,
 57107.36428571428,
 57132.609999999986,
 57157.632857142846,
 57176.99142857142,
 57185.21999999999,
 57193.419999999984,
 57217.4457142857,
 57239.10285714285,
 57254.498571428565,
 57256.71428571427,
 57271.15428571426,
 57288.925714285695,
 57318.11571428569,
 57329.53285714284,
 57339.34142857142,
 57334.5557142857,
 57338.698571428555,
 57335.53714285713,
 57335.62285714284,
 57330.01428571427,
 57335.14999999998,
 57339.33999999998,
 57366.99714285712,
 57375.507142857125,
 57409.3757142857,
 57425.43857142855,
 57423.98142857141,
 57419.13428571426,
 57385.559999999976,
 57327.269999999975,
 57280.19857142855,
 57205.45857142855,
 57152.21857142855,
 57113.80571428569,
 57076.39428571426,
 57070.59857142855,
 57087.252857142834,
 57103.764285714264,
 57113.89571428569,
 57125.32571428568,
 57122.079999999965,
 57123.87428571425,
 57120.789999999964,
 57119.67285714282,
 57105.91142857139,
 57087.15285714281,
 57059.941428571394,
 57041.59571428568,
 57005.99999999996,
 56981.09285714283,
 56937.76857142854,
 56922.19857142854,
 56917.46714285711,
 56903.19571428569,
 56914.02714285712,
 56931.81428571426,
 56919.04142857141,
 56915.13857142855,
 56865.72999999998,
 56802.069999999985,
 56749.21571428569,
 56655.08428571426,
 56583.1614285714,
 56538.722857142835,
 56502.24285714283,
 56493.835714285684,
 56488.11571428569,
 56473.909999999974,
 56458.99428571425,
 56442.77714285712,
 56413.648571428545,
 56365.13857142854,
 56305.66999999998,
 56256.904285714256,
 56211.672857142825,
 56187.1314285714,
 56147.957142857114,
 56101.67999999997,
 56062.049999999974,
 56035.20857142854,
 56018.80285714283,
 56002.321428571406,
 55977.37285714283,
 55944.99999999998,
 55920.93714285712,
 55902.1314285714,
 55883.2014285714,
 55850.724285714256,
 55821.27999999997,
 55805.207142857114,
 55792.667142857106,
 55791.46142857139,
 55785.82285714282,
 55786.18999999996,
 55788.11714285711,
 55799.812857142824,
 55803.36571428568,
 55802.27571428567,
 55805.22428571425,
 55820.00428571425,
 55825.678571428536,
 55825.61428571426,
 55815.44428571426,
 55809.79428571426,
 55818.17714285712]

In [15]:
df['id'].astype(np.float)

0      1.613829e+09
1      1.613829e+09
2      1.613829e+09
3      1.613829e+09
4      1.613829e+09
           ...
145    1.613820e+09
146    1.613820e+09
147    1.613820e+09
148    1.613820e+09
149    1.613820e+09
Name: id, Length: 150, dtype: float64

In [13]:
df['close'].max() , df['close'].min(), df['close'].mean()

(57579.56, 55754.78, 56835.6672)

In [31]:
pd.to_datetime(df['id'], unit='ms')

0     1970-01-19 16:17:09.180
1     1970-01-19 16:17:09.120
2     1970-01-19 16:17:09.060
3     1970-01-19 16:17:09.000
4     1970-01-19 16:17:08.940
                ...
145   1970-01-19 16:17:00.480
146   1970-01-19 16:17:00.420
147   1970-01-19 16:17:00.360
148   1970-01-19 16:17:00.300
149   1970-01-19 16:17:00.240
Name: id, Length: 150, dtype: datetime64[ns]

In [15]:
datetime.now().strftime('%I:%M%p')

'11:06PM'